div.mfeedback {}

div.mf-name, div.mf-tel, div.mf-email, div.mf-captcha, div.mf-message 
{
	width:auto; 
	/*width:80%; */
	padding-bottom:0.4em;
}

div.mf-name input, div.mf-tel input, div.mf-email input 
{
	/*width:60%;*/
	width: 98%;
	outline:none;
}

div.mf-message textarea 
{
	/*width: 60%;*/
	width: 98%;
	outline:none;
}

span.mf-req 
{
	color:red;
}

div.mf-ok-text 
{
	color:green; 
	font-weight:bold; 
	padding-bottom: 1em;
}

input.error, textarea.error
{
	border:1px solid red;
}